/* style.module.css */
.container {
    width: 85%;
    margin: auto;
    padding: 2rem 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cardimage {
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .cardbody {
    padding: 1rem;
  }
  
  .text {
    height: 100px; /* Limit the height to create a fixed-size container */
    overflow: visible;
    text-overflow: clip;
  }
  
  .showmorebutton {
    background-color: #3182ce;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
  
  .showmorebutton:hover {
    background-color: #4299e1;
  }
  @media (max-width:768px) {
    .container{
      width: 100%;
    }
   
   
    }
  